@import '@/sass/_default'

html 
  font-family: 'Montserrat', sans-serif

body
  position: relative 
  font-size: 16px

.container
  position: relative
  width: 100%
  max-width: nth($mediaBp, 1)
  padding-left: 10px
  padding-right: 10px
  margin-left: auto
  margin-right: auto

  &-fluid
    position: relative
    width: 100%
    max-width: 1880px
    padding-left: 7.5px
    padding-right: 7.5px
    margin-left: auto
    margin-right: auto

.block 
  padding: 85px 0
  @media (max-width: nth($mediaBp, 2))
    padding: 65px 0
  @media (max-width: nth($mediaBp, 4))
    padding: 45px 0

.title
  position: relative
  margin: 0
  margin-bottom: 50px
  text-align: center
  font-size: 28px
  @media (max-width: nth($mediaBp, 2))
    font-size: 25px
  @media (max-width: nth($mediaBp, 4))
    font-size: 23px

  &::after 
    content: ''
    position: absolute
    bottom: -15px
    left: 50%
    transform: translateX(-50%)
    width: 70px
    height: 3px
    background-color: $mainC1

  &_accent 
    color: $mainC1

  &_white
    color: $mainC3

.descr
  text-align: center
  font-size: 15px
  @media (max-width: nth($mediaBp, 4))
    font-size: 13px

.card
  border-radius: 10px
  box-shadow: 0 25px 29px rgba(0, 0, 0, 0.08)  
  background-color: $mainC3
  overflow: hidden
  @media (max-width: nth($mediaBp, 5))
    box-shadow: 0 25px 17px rgba(0, 0, 0, 0.08)  

.btn
  border: none
  background: transparent
  font-family: inherit

  &-primary
    min-width: 215px
    padding: 18px
    border-radius: 50px
    font-size: 17px
    font-weight: 700
    text-shadow: 0 1px 0 #088c5a
    text-transform: uppercase
    box-shadow: 0 12px 21px rgba(26, 178, 105, 0.35), 0 3px 0 #098d51, inset 0 3px 7px #90f6af
    color: #fff
    background-image: linear-gradient(to top, #009c6a 0%, #06d96e 100%)

  &-secondary
    padding: 15px 20px
    border: 2px solid #0abd6f
      radius: 50px
    font-size: 12px
    font-weight: 700 
    text-transform: uppercase
    color: #0abd6f
    background-color: #fff

.img
  display: block
  width: 100%
  height: 100%
  object-fit: contain

@import '@/sass/swiper'

// ============================
// MEDIA
// ============================			

@for $i from 1 to length($mediaBp)
  @media (max-width: nth($mediaBp, $i))
    .container
      max-width: nth($mediaBp, $i + 1)
